// Colors
$black: #010203;
$grey: #333333;
$white: #f9f9f9;
$beige: #ffffcc;
$gold: #ecd485;
$brown: #cc9966;
$dark-brown: rgb(51, 15, 11);

// Font Size
$font-size-xxl: 5.0rem;
$font-size-xl: 3.1rem;
$font-size-l: 2.8rem;
$font-size-m: 2.0rem;
$font-size-s: 1.6rem;
$font-size-xs: 1.2rem;
$font-size-xxs: 1rem;
$font-size-xxxs: 0.8rem;

// Spacing
$xs-size: 0.8rem;
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$xxl-size: 7.5rem;
$desktop-breakpoint: 45rem;
$tablet-breakpoint: 64rem;
$mobile-portrait: 26rem; 
$container: 120rem;
$mobile-maxWidth: 90%;

// Mixins

// Fonts
